body {
    background-color: #000000;
    color: #ffffff;
}

.fullpage {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
}
.slide-bg {
    position: absolute;
    top: 0;
    left: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center bottom;
}

/* global */
.letter {
    display: inline-block;
}

.heading-block {
    width: 60%;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgba(0,0,0, 0.6);
    color: #bcbcbc;
}
.heading-block h2 {
    font-family: 'Nunito Sans', sans-serif;
    text-transform: uppercase;
    color: #ffffff;
}

/* .nav */
.nav {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 200px;
    height: 120px;
    z-index: 1000;
}
.logo-img {
    width: inherit;
    height: inherit;
    background-image: url('../images/logo.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

/* #slide-1 */
#slide-1 {
    position: relative;
}
#car-1 {
    background-image: url('../images/car-1.jpg');
    opacity: 0;
}
.brand {
    position: absolute;
    top: 0;
    min-width: 100%;
    height: 40%;
    box-sizing: border-box;
}
.logo {
    text-transform: uppercase;
    font-size: 2.4em;
    opacity: 0;
}
.tagline {
    text-transform: uppercase;
    font-size: .8em;
    letter-spacing: 4px;
    color: #999;
}
.tagline .letter {
    opacity: 0
}

.fancy-inline {
    display: none;
    width: 90%;
}
.fancy-inline h4 {
    margin: 0;
    text-transform: uppercase;
    font-weight: 500;
    color: #262C2D;
}
.fancy-inline p {
    margin: 0 0 15px 0;
    color: #262C2D;
}
.fancy-inline .fancybox-close-small {
    color: #ccc;
}

/* #slide-2 */
#slide-2 {
    position: relative;
    height: auto;
    min-height: 100vh;
    background-image: url('../images/slide-2e.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center bottom;
}

/* #slide-3 */
#slide-3 {
    position: relative;
    background-image: url('../images/slide-2b.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    overflow: hidden;
}
.specs {
    box-sizing: border-box;
    width: 80%;
}

.specs a {
    display: inline-block;
    padding: 5px 15px;
    margin: 10px 0 0 0;
    background-color: rgba(0,0,0, 0.6);
    font-size: 1.8rem;
    text-transform: uppercase;
    color: #bcbcbc;
    text-decoration: none;
    transition: all ease-in-out .3s;
}
.specs a:hover {
    text-indent: 10px;
    color: #fff;
}

/* #slide-4 */
#slide-4 {
    position: relative;
    background-image: url('../images/slide-2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    overflow: hidden;
}
#contact-us {
    box-sizing: border-box;
    height: 100vh;
    color: #bcbcbc;
}
#contact-us h2 {
    font-family: 'Nunito Sans', sans-serif;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 0;
}
#contact-us p {
    margin: 0;
}
#contact-us a {
    color: #bcbcbc;
    margin: 0;
}
.wrap-block {
    width: 300px;
    height: auto;
    margin: 0 auto;
    padding: 20px;
    background-color:rgba(0,0,0, 0.6);
}


/* RESPONSIVE */
@media (max-width: 575.98px) {
    .slide-bg {
        background-attachment: scroll;
        background-position: center center;
    }

    .nav {
        width: 100px;
        height: 60px;
    }

    .heading-block {
        width: 100vw;
        max-width: 100%;
    }
    .specs a {
        font-size: 1.2rem;
    }

    .wrap-block {
        width: 200px;
    }

    #slide-2 {
        background-attachment: scroll;
    }

    #slide-3 {
        background-attachment: scroll;
    }

    #slide-4 {
        background-attachment: scroll;
    }
}